root = true

[*.{cs,cshtml}]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# C# Formatting
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
csharp_indent_switch_labels = true

[*.{json,xml,html,js,css}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
